{% load static %}
<html>
    <head>
         <link rel="stylesheet" href="{% static 'css/stylesheet.e9dc714d.css' %}">
    <!-- Swiper-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/varkala/1-2/vendor/swiper/css/swiper.min.css">
    <!-- AOS - AnimationOnScroll-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/varkala/1-2/vendor/aos/aos.css">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/varkala/1-2/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- Theme stylesheet-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/varkala/1-2/css/style.default.d1b89a2d.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/varkala/1-2/css/custom.0a822280.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="https://d19m59y37dris4.cloudfront.net/varkala/1-2/img/favicon.png">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">




        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>DS</title>
         <style>


 </style>
    </head>
    <body style="background-color: #ECECFF;">



<header class="header header-absolute">

    <div class="top-bar text-sm bg-transparent">
        <div class="container-fluid px-lg-5 py-3">
          <div class="row align-items-center">
            <div class="col-md-4 d-none d-md-block">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-2"><a class="text-light text-hover-primary" href="#"><i class="fab fa-facebook-f"> </i></a></li>
                <li class="list-inline-item mr-4"><a class="text-light text-hover-primary" href="#"><i class="fab fa-twitter"> </i></a></li>
                <li class="list-inline-item mr-2 text-light">
                  <svg class="svg-icon mr-2 text-light">
                    <use xlink:href="#calls-1"> </use>
                  </svg>0-000-000-00
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>


          <nav class="navbar navbar-expand-lg bg-transparent border-0 shadow-0 navbar-light px-lg-5 "><a class="navbar-brand text-light" href="{% url 'index' %}">DanyluikSystem</a>

<ul class="navbar-nav mt-3 mt-lg-0">
    <li>

        <button type="button" class="btn btn-link text-light"><a href="{% url 'index' %}" class="text-light">Головна</a></button>
</li>
    <li>
        <button type="button" class="btn btn-link text-light"><a href="{% url 'post_admin' %}" class="text-light">Блог</a></button>
    </li>
     <li>
         <button type="button" class="btn btn-link text-light"><a href="{% url 'contact' %}" class="text-light">Контакти</a></button>
    </li>
</ul>
      </nav>
</header>


            {% block content %}
            {% endblock %}


    <footer>
      <!-- Services block-->

      <!-- Main block - menus, subscribe form-->
      <div class="py-6 text-muted">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 pr-lg-5 pr-xl-6 mb-5 mb-lg-0">
              <h6 class="text-dark letter-spacing-1 mb-4">Будь в курсі</h6>
              <p class="text-sm mb-3"> Підпишись на розсилку акцій і статтей</p>
              <form action="#" id="newsletter-form">
                <div class="input-group input-group-underlined mb-3">
                  <input class="form-control form-control-underlined" type="email" placeholder="Your Email Address" aria-label="Your Email Address">
                  <div class="input-group-append ml-0">
                    <button class="btn btn-underlined text-gray-700 py-0" type="button">
                      <svg class="svg-icon w-2rem h-2rem">
                        <use xlink:href="#envelope-1"> </use>
                      </svg>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-7">
              <div class="row justify-content-center">
                <div class="col-lg-4"><a class="d-lg-none block-toggler my-3" data-toggle="collapse" href="#footerMenu0" aria-expanded="false" aria-controls="footerMenu0">DanyluikSystem<span class="block-toggler-icon"></span></a>
                  <!-- Footer collapsible menu-->
                  <div class="expand-lg collapse" id="footerMenu0">
                    <h6 class="text-dark letter-spacing-1 mb-4 d-none d-lg-block">DanyluikSystem</h6>
                    <ul class="list-unstyled text-sm pt-2 pt-lg-0">
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="#">На початок</a></li>
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="{% url 'post_admin' %}">Наш блог</a></li>
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="{% url 'contact' %}">Контакти</a></li>
                    </ul>
                  </div>
                </div>
                <!--
                <div class="col-lg-4"><a class="d-lg-none block-toggler my-3" data-toggle="collapse" href="#footerMenu1" aria-expanded="false" aria-controls="footerMenu1">Company<span class="block-toggler-icon"></span></a>
                  Footer collapsible menu
                  <div class="expand-lg collapse" id="footerMenu1">
                    <h6 class="text-dark letter-spacing-1 mb-4 d-none d-lg-block">Company</h6>
                    <ul class="list-unstyled text-sm pt-2 pt-lg-0">
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="#">Login</a></li>
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="#">Register</a></li>
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="#">Wishlist</a></li>
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="#">Our Products</a></li>
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="#">Checkouts</a></li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-4"><a class="d-lg-none block-toggler my-3" data-toggle="collapse" href="#footerMenu2" aria-expanded="false" aria-controls="footerMenu2">Your account<span class="block-toggler-icon"></span></a>

                  <div class="expand-lg collapse" id="footerMenu2">
                    <h6 class="text-dark letter-spacing-1 mb-4 d-none d-lg-block">Your account</h6>
                    <ul class="list-unstyled text-sm pt-2 pt-lg-0">
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="#">Login</a></li>
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="#">Register</a></li>
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="#">Wishlist</a></li>
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="#">Our Products</a></li>
                      <li class="mb-2"> <a class="text-muted text-hover-dark link-animated" href="#">Checkouts</a></li>
                    </ul>
                  </div>

                </div>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright section of the footer-->
      <div class="py-4 font-weight-light text-muted">
        <div class="container">
          <div class="row align-items-center text-sm text-gray-500">
            <div class="col-lg-4 text-center text-lg-left">
              <p class="mb-lg-0">&copy; 2020 DanyluikSystem.  All rights reserved.</p>
            </div>
            <div class="col-lg-8">
              <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-lg-right">
                <li class="list-inline-item"> <a class="text-reset" href="#">Terms &amp; Conditions </a></li>
                <li class="list-inline-item"> <a class="text-reset" href="#">Privacy &amp; cookies </a></li>
                <li class="list-inline-item"> <a class="text-reset" href="#">Accessibility </a></li>
                <li class="list-inline-item"> <a class="text-reset" href="#">Customer Data Promise </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>






         <!-- Main block - menus, subscribe form-->

    <!-- /Footer end-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>




         <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite -
      //   see more here
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {

          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to Bootstrapious website as you cannot
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.01205608.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://demo.bootstrapious.com/varkala/1-1/icons/orion-svg-sprite.svg');
      injectSvgSprite('https://demo.bootstrapious.com/varkala/1-1/icons/varkala-clothes.svg');
      injectSvgSprite('https://demo.bootstrapious.com/varkala/1-1/img/shape/blob-sprite.svg');

    </script>
    <!-- jQuery-->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/1-2/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Bundle -->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/1-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Swiper Carousel                       -->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/1-2/vendor/swiper/js/swiper.min.js"></script>
    <!-- Bootstrap Select-->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/1-2/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!-- AOS - AnimationOnScroll-->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/1-2/vendor/aos/aos.js"></script>
    <!-- Custom Scrollbar-->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/1-2/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/js/custom-scrollbar-init.f148089f.js"></script>
    <!-- Smooth scroll-->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/1-2/vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script src="https://d19m59y37dris4.cloudfront.net/varkala/1-2/vendor/object-fit-images/ofi.min.js"></script>
    <!-- JavaScript Countdown-->

<script>
      var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
      var countdown = new Countdown('countdown', deadline);

</script>
    <!-- Some theme config-->
<script>
      var options = {
          navbarExpandPx: 992
      }

 </script>
<script src="static/js/sliders-init.1db6fb07.js"></script>
<script src="static/js/theme.fe2c17cd.js"></script>
<script src="{% static 'js/countdown.782bfd78.js' %}"></script>



</body>
</html>